<h1>INFO</h1>
{{#if e}}
<h2>id: </h2> {{e.id}}<br>
<h2>name: </h2> {{e.name}}<br>
<h2>path: </h2> {{e.path}}<br>
<h2>size: </h2> {{e.size}}<br>
<h2>type: </h2> {{e.type}}<br>
<h2>date: </h2> {{e.date}}<br>
{{/if}}